h1 {
    color:black;
    justify-content:center ;
    
    padding-bottom: 100px;
}
 
    

.header{
    background-color: orange;
    background-color:  blue;

 
    display: flex;
    justify-content: space-between;
}
body{
    background-color: coral;
}
.hyperlinks{
    border: solid;
    display: flex;
    justify-content:space-between ;
}
a:link{
    color:white;
}
a:visited{
    color: rgb(145, 45, 6);
}
